In [1]:
import numpy as np
import pandas as pd
def create_df():
    df = pd.DataFrame({'score': np.random.randint(0,101,1000)})
    return df
df = create_df()
df.head()

   score
0     55
1     62
2      1
3     44
4     61

In [ ]:
#The data consist of academic scores ranging from 0 to 100 for 1000 students. 
#The task is to bin the numerical scores into grades of values “A”, “B” and 
#“C” where “A” is the best grade and “C” is the worse grade.

In [11]:
#between & loc
#Pandas .between method returns a boolean vector containing 
#True wherever the corresponding Series element is between the boundary values left and right[1].
df.loc[df['score'].between(0, 50, 'both'), 'grade'] = 'C'
df.loc[df['score'].between(50,80,'right'),'grade']='B'
df.loc[df['score'].between(80,100,'right'),'grade']='A'
df.head()

   score grade
0     55     B
1     62     B
2      1     C
3     44     C
4     61     B

In [12]:
df.grade.value_counts()

C    529
B    281
A    190
Name: grade, dtype: int64

In [14]:
#____CUT____
bins=[0,50,80,100]
labels = ['C','B','A']
df['grade']=pd.cut(x=df['score'],bins=bins,labels=labels,include_lowest=True)
df.head()

   score grade
0     55     B
1     62     B
2      1     C
3     44     C
4     61     B

In [15]:
#_________QCUT_________
df['grade'], cut_bin = pd.qcut(df['score'], q = 3, labels = ['C', 'B', 'A'], retbins = True)
df.head()

   score grade
0     55     B
1     62     B
2      1     C
3     44     B
4     61     B

In [16]:
cut_bin

array([  0.,  30.,  65., 100.])

In [17]:
df.grade.value_counts()

B    337
C    336
A    327
Name: grade, dtype: int64